body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}
/* Nav Bar CSS*/
.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar-toggler {
  position: relative;
}

@media (min-width: 768px) {
.navbar-expand-md>.container, .navbar-expand-md>.container-fluid, .navbar-expand-md>.container-lg, .navbar-expand-md>.container-md, .navbar-expand-md>.container-sm, .navbar-expand-md>.container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
}

@media (min-width: 768px) {
.navbar-expand-md .navbar-toggler {
    display: none;
}
}

.navbar-toggler span:nth-child(1), .navbar-toggler span:nth-child(3) {
  transition: transform .35s ease-in-out;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}
a {
  text-decoration: none;
  background-color: transparent;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
}

.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}

@media (min-width: 768px){
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 768px){
.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
}
}

.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link, .navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}
/* End Nav CSS*/
/* Intro Section */
element.style {
  background-image: url(Kelly\ Headshot.jpg);
}

.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}
.intro .intro-content {
  text-align: center;
  position: absolute;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 992px) {
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 720px;
}
}

@media (min-width: 576px) {
.container, .container-sm {
    max-width: 540px;
}
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
.intro .intro-title {
    font-size: 4.5rem;
}
}

.intro .intro-title {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

@media (min-width: 768px) {
.intro .intro-subtitle {
    font-size: 2.5rem;
}
}

.intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.intro .text-slider-items {
  display: none;
}
b, strong {
  font-weight: boulder;
}

.typed-cursor {
  opacity: 1;
}

.typed-cursor .typed-cursor--blink {
  animation: typedjsblink 0.7s infinite;
}
/* End Intro Section */
/* About Section */
